.quiz-title::before,
.question::before,
.answer::before {
  content: '';
  background-color: var(--primary);
  top: 0;
  bottom: 0;
  width: 3px;
  display: block;
  position: absolute;
}

.quiz-title,
.question,
.answer {
  position: relative;
}

.create-wrapper {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.create-wrapper input:not([type="checkbox"]) {
  border-radius: 0;
  border: 1px solid var(--secondary);
  width: 100%;
  outline-color: var(--primary);
  padding-left: .5rem;
}

.create-form {
  max-width: 600px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  box-shadow: 0 0 10px var(--primary);
  padding: 1rem 0 1rem 0;
}

.create-title {
  color: var(--secondary);
}

.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

.correct-answer-container {
  border: 1px solid var(--secondary);
  border-top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1em;
  gap: .5rem;
  color: var(--secondary);
  accent-color: var(--primary);
}

.correct-answer-container label {
  white-space: nowrap;
}

.correct-answer-container button {
margin-right: .5rem;
margin-left: 1rem;
}

.create-wrapper input::placeholder {
  color: var(--secondary);
  font-family: Poppins, sans-serif;
  font-weight: 400;
}

.delete-answer {
background-color: transparent;
border: none;
}

@media (min-width: 280px) and (max-width: 768px) {
  .create-title {
    font-size: 1.5em;
  }

  .add-question {
    padding: .8rem 1rem;
  }

  .delete-question {
    padding: .5rem;
  }

  .correct-answer-container {
    font-size: .8em;
  }

  .create-wrapper input:not([type="checkbox"]) {
    min-width: 250px;
    min-height: 40px;
  }
}

@media (min-width: 768px) {
  .create-wrapper input {
    font-size: 1em;
  }

  .add-question {
    padding: .8rem 7rem;
  }

  .delete-question {
    padding: 1rem;
  }

  .create-title {
    font-size: 2em;
  }

  .create-wrapper input:not([type="checkbox"]) {
    min-width: 500px;
    height: 30px;
  }
}