nav {
  display: flex;
  align-items: center;
  gap: 3rem;
}

nav a {
  color: var(--secondary);
  font-weight: 400;
}

.navigation-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.title {
  font-size: 4em;
  color: var(--black);
}

.title span {
  color: var(--primary);
}

.border {
  position: relative;
}

.border::after {
  content: '';
  position: absolute;
  height: 2px;
  background-color: rgb(236, 236, 236);
  top: 100%;
  width: 95%;
  left: 50%;
  transform: translateX(-50%);
}

.expand-nav,
.close-nav {
  background-color: transparent;
  border: none;
}

@media (min-width: 280px) and (max-width: 769px) {
  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    top: 0;
    width: 100dvw;
    padding: 3rem 0 3rem 0;
    background-color: var(--black);
    z-index: 100;
  }

  .nav-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .close-nav {
    position: absolute;
    top: 10%;
    right: 5%;
  }
}

@media (min-width: 769px) {
  .expand-nav,
  .compress-nav {
    display: none;
  }

  .mobile-nav {
    display: none;
  }
}
